* {
    box-sizing: border-box;
}
body{
    color: black !important;
}

html {
    font-family: 'Montserrat', sans-serif;
}
[class*="col-"] {
    float: left;
    padding: 18px;
}
.header {
    background-color: #F9DF74;
    color: black;
    text-align: center; 
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu ul {                                      /*Stylizace navigation baru*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
.menu li a {
    display: block;
    background-color: #EDAE49;
    height: 30px;
    text-decoration: none;
    padding: 3px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 5px;
    color: black;
}
.menu li a:hover {
    background-color:#F9DF74;
}
.right {
    background-color: #F9DF74;
    padding: 15px;
    color: black;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 70vh;
    animation-name: barvy;
    animation-duration: 2s;
    line-break: anywhere;
}
.bot {
    background-color: #F9EDCC;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    height: fit-content;
}
/*Pro responzibilita pro telefony*/
   [class*="col-"] {
     width: 100%; 
}
/*Pro responzibilita pro tablety*/
@media only screen and (min-width: 600px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
/*Pro responzibilita pro PC monitory*/
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
}
/*Stylizace galerie*/
.img{
    margin: 5px;
    border: 1px solid black;
    float: left;
    height: auto;
    width: 23%;
    
}
.img:hover{
    text-shadow: 1px 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.img img{
    width: 100%;
    height: auto;
}
.desc{
    padding: 15px;
    text-align: center;
    height: 20px;
}
body{
    background-color: #727375;
}
/*Dropdown*/
li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li.dropdown {
    display: inline-block;
    width:100%
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #727375;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 3px !important;
    text-decoration: none;
    display: block;
    text-align: center;s

}

.dropdown:hover .dropdown-content { 
    display: block; 
}
/*Stylizace textu*/
.text {
    text-align: center;
    font-size: 30px;
}
.serie{
    font-size: 20px;
}
.podpis{
    font-size: 10px;
    text-align: right;
}
.reklama{
height: 450px;
}
.active{
    background-color: #F9DF74 !important;
}